#use glob syntax.
syntax: glob

#latex
*.aux
*.log
*.blg
*.bbl
*.dvi
*.out
*.nav
*.snm
ejercicios/guia.pdf
ejercicios/guia.fdb_latexmk
ejercicios/guia.fls
ejercicios/guia.tex.latexmain

#gcc
*.o
a.out

#editor textos
*~
*.swp

ejercicios/u*
